.section{
    padding: 40px 90px 40px 90px;
}

.comp{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 21px;
    line-height: 24px;
    max-width: 75%;
    margin: 5px 0 0px auto;
    color: aliceblue;
    
}

.time{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
}
.text{
    max-width: 80%;
    color: #a6a1b1;
    font-size: 14px;
}

.pos{
    color: #eab22f;
}

@media screen and (max-width: 768px) {
    .tali{
        display: none;
    }
    .comp{
        font-size: 18px;
        line-height: 24px;
        max-width: 75%;
        margin: 5px 0 0px auto;
        color: aliceblue;
    }
    .text,.comp{
        max-width: 90%;
    }
    .timeliness{
        padding: 0;
    }
    .section{
        padding: 20px 0px;
    }
}