.box{
    font-family: 'Open Sans';
    text-align: center;
}

.title{
    font-weight: 650;
    font-size: 35px;
    
    margin: 5px auto 0px auto;
}

.subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #DEA724;
}

.p{
    font-style: normal;
    color: #a6a1b1;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .p{
        margin: 0;
        font-size: 12px;
    }
    .title{
        font-size: 28px;
    }
}